* {
	box-sizing: border-box;
}
html{
	font-size:62.5%;
}
body{
	margin:0;
}
/*======================================== NAV SECTION ========================================*/
nav{
	background-color:#ff00ff;
	display:flex;
	justify-content:space-around;
	align-items:center;
	position:sticky;
	top:0;
	width:100vw;
	height:50px;
}
/*======================================== HEADER SECTION ========================================*/
header{
	background-color:#808080;
	width:100vw;
	height:calc(100vh - 50px);
	display:flex;
	align-items:center;
	justify-content:center;
}
/*======================================== ABOUT ME SECTION ========================================*/
.aboutmediv{
	background-color:#1f7a1f;
	padding:25px 100px;
}
.aboutmemain{
	display:flex;
	flex-direction:column;
}
.aboutmemainchild{
	background-color:#33cc33;
	display:flex;
}
.aboutmeimg{
	width:25%;
	display:flex;
	justify-content:center;
}

.aboutmeimg>img{ /*634x951 this is teh stock image */
	max-width:634px;
	max-height:951px;
	width:inherit;
	height:auto;
}
.aboutmetext{
	padding-right:15%;
}
.aboutmesub{
	background-color:#70db70;
}
/*======================================== PORTFOLIO SECTION ========================================*/
		
.topportfolio{
	background-color:#0040ff;
	display:flex;
	flex-direction:column;
	align-items:center;
}
.mainportfolio{
	background-color:#1a75ff;
	display:flex;
	flex-wrap:wrap;
	width:100%;
}
.mainportfolio > *{
	display:block;
	width:50%;
	height:50%;
	
}
.subportfolio{
	background-color:#00bfff;
	display:flex;
	justify-content:space-between;
}
.subportfolio > div{
	width:33%;
	height:33%;
	display:flex;
	flex-direction:column;
	align-items:center;
}
.subportfolio > div > img{
	width:100%;
	height:100%;
/*======================================== FOOTER/CONTACT SECTION ========================================*/
footer{
	background-color:#ffff66;
}
