* {
	box-sizing: border-box;
}
html{
	font-size:62.5%;
}
body{
	margin:0;
}
main > div{
	margin:0 auto;
	max-width:1350px;
	padding:0 1%;
}
main{
	background-color:#040809;
	box-shadow: 0px -2px 10px rgba(4,8,9, 0.6);
}
/*======================================== NAV SECTION ========================================*/
nav{
	background-color:#FF6680;
	display:flex;
	justify-content:space-around;
	align-items:center;
	position:sticky;
	top:0;
	width:100vw;
	height:50px;
	z-index:1;
}
nav > a > img{
	height:42px; 
}
/*======================================== HEADER SECTION ========================================*/
header{
	width:100vw;
	height:calc(105vh - 50px);
	color:white;
	position:relative;
	z-index:-1;
}
#frontpagevideo{
	object-fit:cover;
	width:inherit;
	max-height:inherit;
	position:fixed;
}
.headertext{
	position:absolute;
	top:0;
	left:0;
	width:inherit;
	height:inherit;
	display:flex;
	flex-direction:column;
	justify-content:center;
	padding-left:20%;
}
h1{
	font-size:2.5rem;
}
h2{
	font-size:1.8rem;
}
/*======================================== ABOUT ME SECTION ========================================*/
.aboutmediv{
	background-color:#FF6680;
	height:800px;
}
.aboutmemain{
	display:flex;
	flex-direction:column;
	align-items:center;
	height:50%;
}
.aboutmemainchild{
	background-color:white;
	display:flex;
	width:100%;
	height:100%;
}
.aboutmeimgaspect{
	position:relative;
	width:40%;
	height:100%;
}
.aboutmeimgdiv{
	height:0;
	padding-top:150%;
	height:inherit;
	display:flex;
	justify-content:center;
	align-items:center;
	margin:0 auto;
}

.aboutmeimgdiv2{ /*634x951 this is teh stock image */
	position:absolute;
	max-width:634px;
	max-height:951px;
	width:100%;
	height:inherit;
	top:0;
	left:0;
	padding:25px 0%;
}
.aboutmeimgdiv2 > img{
	display:block;
	object-fit:contain;
	height:inherit;
	margin:0 auto;
}
.aboutmetext{
	max-width:675px;
	margin-right:auto;
	padding-top:25px;
	padding-bottom:25px;
}
.aboutmetext > h4{
	font-size:6.0rem;
}
.aboutmetext > p{
	font-size:2.0rem;
}
.aboutmetext > *{
	margin:0;
}
.aboutmesub{
	background-color:grey;
	height:50%;
}
/*======================================== PORTFOLIO SECTION ========================================*/
.portfolio{
	background-color:#0040ff;
}		
.topportfolio{
	display:flex;
	flex-direction:column;
	align-items:center;
}
.mainportfolio{
	background-color:#1a75ff;
	display:flex;
	flex-wrap:wrap;
	width:100%;
}
.mainportfolio > a{
	width:100%;
}
.mainprojectlink{
	display:flex;
}
.mainprojectlink > *{
	display:block;
	width:50%;
	height:50%;

}
.subportfolio{
	background-color:#00bfff;
	display:flex;
	justify-content:space-between;
}
.subportfolio > a{
	width:33%;
	height:33%;
}
.subprojectlink > *{
	width:100%;
	height:100%;
	display:flex;
	flex-direction:column;
	align-items:center;
}
.mainprojectlink > img{
	object-fit:cover;
}
a.portfoliolinks:hover{
	border:1px solid black;	
}

/*======================================== CONTACT SECTION ========================================*/
.contactme{
	background-color:red;
}
.contactmetext{
	display:flex;
	justify-content:space-between;
	padding:0 10%;
}
/*======================================== FOOTER SECTION ========================================*/
footer{
	background-color:#ffff66;
	display:flex;
	justify-content:space-between;
	padding:0 30%;
}
/*======================================== PROJECT PAGE SECTION ========================================*/
.projectpageinfo{
	display:flex;
	justify-content:space-between;
	width:1350px;
	margin:0 auto;
	height:calc(80vh - 50px);
}
.projectpageinfo > *{
	width:30%;
}
.projectpageinfo > img{
	object-fit:cover;
}
.projectpagetext{
	display:flex;
	flex-direction:column;
	align-items:center;
}
.projectpagelinks{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:space-around;
}
.projectpagelinks > a{
	border:1px solid black;
	padding:2px;
}
.projectinteract{
	display:flex;
	flex-direction:column;
	align-items:center;
}

