* {
	box-sizing: border-box;
}
html{
	font-size:62.5%;
	font-family:'Montserrat', sans-serif;
	color:rgba(4,8,9,1);
}
body{
	margin:0;
}
main > div{
	margin:0 auto;
	max-width:1300px;
}
main{
}
h4{
	font-size:6.0rem;
}
.am_text,.aboutme img, button, .navlinks a{
	box-shadow: 0px -2px 5px rgba(2,8,9, 0.6)
}
button{
	color:white;
	background:none;
	padding:10px;
	font-size:2rem;
	text-transform:uppercase;
	border:1px solid rgb(248,248,255);
	font-weight:600;
}
/*======================================== NAV SECTION ========================================*/
nav{
	display:flex;
	padding:0 5%;
	justify-content:space-between;
	align-items:center;
	position:fixed;
	top:0;
	width:100vw;
	z-index:1;
	margin:10px 0;
}
nav a, nav label{
	text-decoration:none;
	color:rgba(248,248,255, 1);
	text-transform:uppercase;
    font-family: Montserrat, sans-serif;
}
.navlogo > img{
	padding-right:15px;
	height:100%;
	filter: invert(0.95); 
	position:relative;
	bottom:4px;
}

.navlogo > label{
	font-size:2.5rem;
	font-weight:700;
}
.navlogo{
	display:flex;
	align-items:center;
	height:80px;
	
}
.navlinks > a{
	font-size:2rem;
	margin-left:30px;
	padding:15px 10px;
	padding-top:18px;
	border:1px solid rgba(248,248,255,0);
	border-radius: 5px;
	font-weight:600;
}
.navlinks a:hover{
	border:1px solid rgba(248,248,255,1);

}
/*======================================== HEADER SECTION ========================================*/
header{
	width:100vw;
	height:100vh;
	position:relative;
	z-index:-1;
}
#frontpagevideo{
	object-fit:cover;
	width:inherit;
	max-height:inherit;
	position:fixed;
}
.headertext{
	position:absolute;
	top:0;
	left:0;
	width:inherit;
	height:inherit;
	display:flex;
	flex-direction:column;
	justify-content:center;
	padding-left:20%;
}
h1{
	font-size:2.5rem;
	color:white;
}
h2{
	font-size:1.8rem;
	text-transform:uppercase;
	color: rgb(248,248,255);
}
/*======================================== ABOUT ME SECTION ========================================*/
.aboutme{
	height:1200px;
	width:100%;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}
.aboutme > * {
	margin-bottom:50px;
	border-radius:10px;
}
.aboutme > button{
	margin:0 auto;
}
.amcontainer{
	width:100%;
	height:500px;
	display:flex;
}
.am_main > *{
	padding:50px;
}
.am_img{
	width:30%;
}
.am_img > img{
	max-width:100%;
	max-height:100%;
	border-radius:50%;
}
.am_sub{
	margin-top:50px;
}
.am_sub_img{
	position:relative;
}
#am_sub_ar{
	opacity:0;
}
.am_sub_content{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	padding:50px;
}
.sub_img{
	max-width:100%;
	height:100%;
	object-fit:cover;
	border-radius:50%;
}
.am_sub .am_text{
	padding:50px;
}
.am_text{
	background-color:lightpink;
	width:70%;
	border-radius:10px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	margin:auto 0;
	padding-top:40px;
}
h4, .am_text > h5{
	font-weight:700;
	font-size:6.0rem;
	text-transform:uppercase;
}
.am_text > p{
	font-size:2.0rem;
}
.am_text > *{
	margin:0;
}

/*======================================== PORTFOLIO SECTION ========================================*/
.portfolio{
}
.portfolio h4{
	color:rgb(248,248,255);
}		
.topportfolio{
	display:flex;
	flex-direction:column;
	align-items:center;
}
.mainportfolio{
	background-color:#1a75ff;
	display:flex;
	flex-wrap:wrap;
	width:100%;
}
.mainportfolio > a{
	width:100%;
}
.mainprojectlink{
	display:flex;
}
.mainprojectlink > *{
	display:block;
	width:50%;
	height:50%;

}
.subportfolio{
	background-color:#00bfff;
	display:flex;
	justify-content:space-between;
}
.subportfolio > a{
	width:33%;
	height:33%;
}
.subprojectlink > *{
	width:100%;
	height:100%;
	display:flex;
	flex-direction:column;
	align-items:center;
}
.mainprojectlink > img{
	object-fit:cover;
}
a.portfoliolinks:hover{
	border:1px solid black;	
}

/*======================================== CONTACT SECTION ========================================*/
.contactme{
	background-color:red;
}
.contactmetext{
	display:flex;
	justify-content:space-between;
	padding:0 10%;
}
/*======================================== FOOTER SECTION ========================================*/
footer{
	background-color:#ffff66;
	display:flex;
	justify-content:space-between;
	padding:0 30%;
}
/*======================================== PROJECT PAGE SECTION ========================================*/
.projectpageinfo{
	display:flex;
	justify-content:space-between;
	width:1350px;
	margin:0 auto;
	height:calc(80vh - 50px);
}
.projectpageinfo > *{
	width:30%;
}
.projectpageinfo > img{
	object-fit:cover;
}
.projectpagetext{
	display:flex;
	flex-direction:column;
	align-items:center;
}
.projectpagelinks{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:space-around;
}
.projectpagelinks > a{
	border:1px solid black;
	padding:2px;
}
.projectinteract{
	display:flex;
	flex-direction:column;
	align-items:center;
}

/*======================================== MEDIA QUERIES SECTION ========================================*/
@media only screen and (max-width: 1300px) {
	.main > div{
		padding:1%;
	}
}